:root{
    --MyDarkBlue: #063970;
    --MyBlue: #76b5c5;
    --Sand: #efa761;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 5vw;
    margin: 5px;
    border: 1px solid whitesmoke;
    
}


@keyframes Disapear {
    0%{color: white;}
    50% {color: rgb(10, 1, 1,0);}
    100% {color: white;}
}

body {
    background-color: var(--MyDarkBlue);
    border: 2px solid var(--Sand);
}
@font-face {
    font-family: Suez ;
    src: url(../static/Suez_One/SuezOne-Regular.ttf);
}
 h1{
    font-family: Suez;
    animation-name: Disapear;
    animation-duration: 3s;
    animation-iteration-count: 5;
 }
 
 .GridContainer{
    display: grid;
    grid-template-areas: 'top_left top_middle top_right'
    'bottom_all bottom_all bottom_all';
 }
 .item1{
    grid-area: top_left;
 }
 .item2{
    grid-area: top_right;
 }
 .item3{
    grid-area: bottom_all;
    text-align: left;
 }
.item5{
width: 250px;
height: auto;
margin: auto;
grid-area: bottom_all;
}
.item4 {
    background-image:url(dol.webp) ;
    background-repeat: no-repeat;
    border: none;
    grid-area: top_middle;
    width: 275px;
height: 220px;
margin: 25px;
}
 