*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; color: deeppink;
}

#form_H1 {
    color: chartreuse;
}

.classA {
    background-color: yellow;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
div a{ 
    text-decoration: none;
    color: darkgreen;
    border: 1px solid black;
    width: fit-content;
    text-transform: uppercase;
    background-color: chocolate;
    margin: 10px ;
    padding: 10px;
    height: 25px;
    text-align: center;
  }
  
