*{
    padding: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: blue;
}

.NightStyle{
    background-color: black;
    color: white;
}

button {
    background-color: white;
    color:  blue;
    border: 1px solid blue;
    border-radius: 50%;
}