<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <title>Document</title>
</head>
<body id="body">
   <h1 id="greetingH1"></h1>
   <img width="400px" src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Ferrari/F8-Tributo/7945/1598599471404/front-left-side-47.jpg" alt="cars" id="IMG_cars">
   
<button id="btn" onclick="TimeFunc()">WHAT IS THE TIME?</button>
<div id="Time"></div>
</body>
</html>