<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="style.css">
<script src=""></script>
<meta>
<title>This is Gal's first HTML project</title>
    </head>
    <!--This is my page-->
    <body style="color: blue; font-size: xx-large;">
        <h1><b><i>188</i></b> web course</h1>
        <h3 >this is lesson 2</h3>
        <p>my first paragraph <br> kobe bryant picture</p>
        <img src="../images/kobe.jpg" style="border:5px solid black" alt="Kobe's Picture" width="300vw" height="500vw">
        <h2>Kobe dunks</h2>
        <video width="320" height="240" controls >
            <source src="../Videos/KobeVideo.mp4" type="video/mp4" style="vertical-align:middle">
        </video>
        <h4>Destination</h4>
        <ol>
            <li>Jerusalem</li>
            <li>Tel Aviv</li>
            <li>Be'er Shava</li>
        </ol>
        <ul>
            <li>France</li>
            <li>Austria</li>
            <li>Italy</li>
        </ul>
        <a href="https://www.snow-forecast.com/resorts/Ischgl/6day/mid">Snow Report in Ichgle</a>
        <br> <br>
        <table style="border: 1px black solid">
            <tr >
                <th style=>name</th>
                <th style=>megama</th>
                <th style=>learning</th>
                </tr>
                <tr>
                    <td>Sharon</td>
                    <td>Krav</td>
                    <td>Web</td>
            </tr>
        </table>
          </body>
</html>